/* Navbar Css  */
.navbar-brand {
  margin-left: 35px;
}

.navbarLinks {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  margin-left: 100px;
}

.navbarHomeLink {
  border: 3px solid #39B90C;
  border-radius: 24px;
}

/* Navbar Css Ends here  */


/* middle content css  */
.span1 {
  font-family: 'Poppins', sans-serif;
  position: relative;
  right: 11px;
  top: 35px;
  font-size: 80px;
  font-weight: 800;
  text-align: center;
}

/* where are you going para  */
.wherePara {
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-size: 80px;
  font-weight: 800;
  text-align: center;
  display: inline-block;
}

/* parking just got easier  */
.GreenSpan {
  position: relative;
  right: 50px;
  bottom: 15px;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color: #39B90C;

}

/* bottom content para  */
.contentPara {
  position: relative;
  left: 60px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

/* :horizontal rule css  */
.firstHr {

  height: 8px;
  position: relative;
  left: 450px;
  bottom: 18px;
}

.secondHr {

  height: 8px;
  position: relative;
  right: 70px;
  bottom: 18px;

}

.relativeDiv {
  position: relative;
}

/* car img css  */
.carImg {
  position: absolute;
  top: 225px;
  left: 40px;
}

/* map image css  */
.mapImg {
  position: absolute;
  top: 65px;
  left: 240px;
  height: 235px;
  width: 235px;
}

/* locator image css  */
.locatorImg {
  position: absolute;
  top: 15px;
  left: 280px;
  height: 50;
  width: 75px;
}

.bottomHr {
  position: relative;
  /* left: 140px; */right: 200px;
  border: 2px solid rgb(255, 250, 250);
  background-color: rgb(255, 250, 250);
  height: 10px;
  width: 205%;
  border-radius: 24px;
  margin-top: 15px;
  margin-bottom: 60px;
}

.circle {
  border: 2px solid #39B90C;
  background-color: #39B90C;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  position: relative;
left: 575px;
bottom: 10px;
z-index: 1;
}

.arrow {
  width: 50px;
  height: 30px;
  position: relative;
right: 333px;
top: 10px;
  z-index: +1;

}

.wwd {
  display: inline-block;
  border: 2px solid #39B90C;
  border-radius: 43px;
  padding: 5px 70px 0 20px;
  /* margin-bottom: 20px; */
  font-family: 'Poppins', sans-serif;
  position: relative;
  right: 330px;
  font-size: 35px;
}
@media screen and (min-width: 1390px) {
   
    .wwd {
        display: inline-block;
        border: 2px solid #39B90C;
        border-radius: 43px;
        padding: 5px 70px 0 20px;
        
        font-family: 'Poppins', sans-serif;
        position: relative;
        right: 24rem;
        font-size: 35px;
  }
  .contentPara{
    position: relative;
    left: 89px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    font-family: 'Poppins', sans-serif;
  }
  .circle2 {
    position: relative;
  
    left: -430px;
    bottom: 10px;
    height: 20px;
    width: 20px;
  }
 


  .third-card {
    position: absolute;
    left: 30px;
   display: inline-block;
    width: 300px;
    height: 250px;
    border-radius: 52px;
  }
  .bottomHr {
   position: relative;
   right: 10px;
    border: 2px solid rgb(255, 250, 250);
    background-color: rgb(255, 250, 250);
    height: 10px;
    width: 850px;
    border-radius: 24px;
    margin-top: 15px;
    margin-bottom: 60px;
  }
  .circle {
    border: 2px solid #39B90C;
    background-color: #39B90C;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    position: relative;
  left: 575px;
  /* top: 0px; */
  z-index: 1;
  }
  .arrow {
    width: 50px;
    height: 30px;
    position: relative;
    right: 590px;
    z-index: +2;
  
  }

}

.circle2 {
  position: relative;
  right: 382px;
  bottom: 10px;

  height: 20px;
  width: 20px;
}

.cardpic1 {
  position: relative;
  left: 100px;
  bottom: 220px;
  height: 50px;
  width: 40px;
  z-index: 1;
}

.cardpic2 {
  position: relative;
  left: 100px;
  bottom: 180px;
  height: 50px;
  width: 50px;
  z-index: 1;
}

.cardpic3 {
  position: relative;
  left: 100px;
  bottom: 145px;
  height: 50px;
  width: 40px;
  z-index: 1;
}

.card-title {
  font-family: 'Poppins';
  font-weight: bolder;
  font-size: 40px;
  color: rgb(74, 74, 74);
  padding-left: 15px;
  text-align: left;
}

.card-text {
  font-family: 'poppins';
  font-size: 25px;
  padding-left: 15px;
  color: #39B90C;
  text-align: left;
}


.first-card {
  position:relative;
  left: 30px;
  width: 300px;
  height: 250px;
  border-radius: 52px;
  display: inline-block;
}

.second-card {
  position: relative;
 right: 25px;
  width: 300px;
  height: 250px;
  border-radius: 52px;
  display: inline-block;
}

.third-card {
  position: relative;
 display: inline-block;
  width: 300px;
  height: 250px;
  border-radius: 52px;
}

.card-hr1 {
  position: absolute;
  top: 800px;
  border: 3px solid #39B90C;
  background-color: #39B90C;
  height: 100px;
  width: 130px;
}

.card-hr2 {
  position: absolute;
  top: 800px;
  right: 0px;
  border: 3px solid #39B90C;
  background-color: #39B90C;
  height: 100px;
  width: 140px;
}

/* why choose us css here  */
.wcu {
  margin-top: 100px;
  position: relative;
  right: 230px;
  display: inline-block;
  border: 2px solid #39b90c;
  border-radius: 43px;
  /* padding: 10px; */
  text-align: left;
  padding: 5px 50px 5px 10px;
  /* padding-left: 10px;
    padding-right: 50px; */
  font-size: 30px;
  font-family: "poppins";
  font-weight: 300;
}

/* list item editing here  */


li {
  font-size: 22px;
  font-family: "poppins";
  text-align: left;
  color: grey;
}
ul {
  margin-top: 50px;
  padding-left: 105px;
  padding-right: 65px;
}

/* car image editiing here  */

.park-img {
  position: relative;
  right: 40px;
  top: 40px;
  height: 350px;
  width: 350px;
}
.circle2 {
  position: relative;
  left: 15px;
  bottom: 1px;
  height: 20px;
  width: 20px;
}

/* find us on section here  */

.find {
  margin-top: 30px;
  font-size: 30px;
  font-family: "poppins";
  position: relative;
  right: 80px;
}
/* lower green line section here  */

.greenLine {
  border: 1px solid #39b90c;
  width: 30%;
  background-color: #39b90c;
  height: 6px;
  display: inline-block;
  position: relative;
  /* left: 200px; */
  right: 630px;
  top: 80px;
  /* z-index: +1; */
}

/* social media brands editing starts here  */

.brand {
  margin-top: 40px;
}
.social {
  height: 50px;
  width: 50px;
}
.fb {
  position: relative;
  right: 125px;
}
.linked {
  position: relative;
  right: 260px;
}
.parkyee-brand {
  position: relative;
  bottom: 22px;
}

/* contact us seciton starts here  */
.contus {
  margin-top: 100px;
}
.contact {
  display: inline-block;
  position: relative;
  right: 50px;
  font-size: 30px;
  border: 1px solid #39b90c;
  padding: 10px 30px 10px 15px;
  border-radius: 48px;
  font-family: "poppins";
  text-align: left;
}
.loc{
    position: relative;
    top: 40px;
    right: 140px;
    height: 54px;
    width: 38px;
}
.tel{
    position: relative;
    top: 85px;
    right: 140px;
    height: 44px;
    width: 44px;
} 
.msg{
    position: relative;
    top: 130px;
    right: 240px;
    height: 43px;
    width: 54px;
}
.add{
    position: relative;
    left: 100px;
    font-size: 20px;
    text-align: left;
    /* padding-right: 100px; */
    color: grey;
}
.cont{
    position: relative;
    left: -15px;
    color: grey;
    font-size: 20px;
    top: 46px;
 
}
.message{
    position: relative;
    left: 45px;
     color: grey;
    font-size: 20px;
    top: 126px;
}
.side{
    position: relative;
    border: 2px solid grey;
    border-radius: 46px;
    text-align: center;
    width: 330px;
    height: 270px;
    /* padding: 100px; */
    font-size: 20px;
padding: 30px;
    top: 200px;
    left: 140px;
    color: grey;
}


@media screen and (min-width: 1399px) {
  .greenLine {
    border: 1px solid #39b90c;
    width: 30%;
    background-color: #39b90c;
    height: 6px;
    display: inline-block;
    position: relative;
    /* left: 200px; */
    right: 707px;
    top: 80px;
    /* z-index: +1; */
  }
}